
/*paleta de colores

#8ab446 bordes
#072a16
#2d6b22
#acc864
#d3e29d

*/

@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:ital,wght@1,300&display=swap');

*{
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
}


/*este es el estilo de la navegacion*/

.contenedor_nav{
    display: flex;
    justify-content: right;
    width: 100%;
    .link_nav{
        color: #2d6b22;
        font-size: large;
        margin-left: 10px;
    }
}

.contenedor_nav .link_nav:hover{
    color: #072a16;
    background-color: #8ab446;
    border-radius: 20px;
    padding-left: 15px;
}

@media (max-width: 991px){
        .link_nav{
            width: 50%
        }
    
}

.header_nav{
    margin: 0 auto;
    width: 95%;
    border-bottom: #d3e29d solid 3px;
}

.header_nav{
    .icono_hamburguesa{
        background-image: url(../assets/img/menu.png);
    }
}

.logo_nav{
    height: 30px;
    margin-left: 10px;
}


/*aqui va todo el estilo del footer*/

.footer{
    display: flex;
    justify-content:space-between;
    height: 60px;
    width: 95%;
    border-top: #d3e29d solid 3px;;
    margin: 0 auto;
}

.footer_contacto{
    vertical-align: middle;
    height: 50%;
    margin: auto 0;
}

.footer_contacto a{
    text-decoration:double;
    color: #072a16;
}

.footer_social{
    height: 50%;
    margin: auto 0;
}

.footer_contacto a:hover{
    color:#2d6b22;
}

.footer_social a{
    margin-left: 10px;
}

@media (max-width: 992px){
    .footer_contacto a{
        font-size: small;
        height: 100%;
    }
}

/*aqui va todo el estilo del inicio del index*/

.contenedor_titulo_inicio{
    margin-top: 130px;
}

.parrafo_titulo_incio{
    width: 80%;
    margin: 0 auto;
    color: #072a16;
}

.contenedor_titulo_inicio h1{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 90px;
    color: #8ab446;
}

.main_inicio .contenedor_carrusel{
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    border-bottom: #161616 solid 5px;
}

.main_inicio .plantas_medicinales_inicio{
    margin-top: 200px;
    text-align: center;
}

.contenedor_principal_carrusel{
    margin-top: 50px;
}

@media (max-width: 992px){
    .contenedor_titulo_inicio{
        margin-top: 90px;
    }
    .main_inicio .contenedor_carrusel{
        display: none;
    }
    .contenedor_titulo_inicio{
        margin-top: 50px;
    }
    .contenedor_titulo_inicio .columna_titulo_inicio{
        grid-template-rows: 1fr;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .contenedor_titulo_inicio h1{
        width: 100%;
        margin-bottom: 20px;
    }

    .contenedor_titulo_inicio .titulo_inicio_lupa{
        text-align: center;
    }

    .contenedor_titulo_inicio .buscador_inicio{ 
        display: none;
    }

    .contenedor_principal_carrusel .plantas_medicinales_inicio{
        margin-top: auto;
    }

    .main_inicio .contenedor_principal_carrusel{
        margin-top: 40px;
        border-bottom: #8ab446 solid 2px;
        padding-bottom: 40px;
    }
}

.contenedor_titulo_inicio .buscador_inicio{ 
    width: 40%;

}

.plantas_medicinales_inicio .boton_inicio{
    background-color:#2d6b22;
    color: #acc864;
}

.plantas_medicinales_inicio .boton_inicio:hover{
    background-color: #8ab446;
}

/*aqui va todo lo que tiene que ver con las categorias del index*/


.descripcion_categorias{
    text-align: center;
}


.contenedor_categorias_imagenes .categoria_imagenes h6:hover{
    border-radius: 20px;
}

.categoria_imagenes a{
    text-decoration: none;
}

.descripcion_categorias .boton_categorias{
    background-color: #8ab446;
}

.descripcion_categorias .boton_categorias:hover{
    border-radius: 10px;
    background-color: #acc864;
}

.contenedor_categorias_imagenes{
    text-align: center;
}

.categoria_imagenes h6{
    color: #2d6b22;
    border-bottom: #acc864 solid 2px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.contenedor_principal_categorias{
    margin-top: 300px;
}

.descripcion_categorias{
    margin-left: 150px;
}

.descripcion_categorias h5{
    margin-top: 30px;
}

@media (max-width: 992px){
    .contenedor_principal_categorias{
        margin-top: 60px;
        border-bottom: #2d6b22 solid 2px;
        padding-bottom: 20px;
    }

    .contenedor_principal_categorias .contenedor_categorias_imagenes h6{
        width: 100%;
    }

    .contenedor_principal_categorias .contenedor_descripcion_categorias{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .contenedor_descripcion_categorias h5{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contenedor_principal_categorias .contenedor_categorias_secundario{
        grid-template-rows: 1fr;
        width: 65%;
    }

    .descripcion_categorias .boton_categorias img{
        width: 50%;
    }
}

/*aqui va todo lo de la seccion de preguntas del index*/

.contenedor_preguntas_inicio{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    border: #acc864 solid 4px;
    border-radius: 10px;
}

.contenedor_preguntas_inicio a{
    background-color: #8ab446;
}

.contenedor_preguntas_inicio a:hover{
    background-color: #acc864;
    color: #072a16;
}

@media (max-width: 700px){
    .contenedor_preguntas_inicio p{
        font-size: small;
    }
}


/*aqui va todo lo que tiene que ver con la pagina de plantas Medicinales*/

@media (max-width: 700px){
    *{
        font-size: x-small;
    }
}

.titulo_plantas{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main_plantas .imagen_plantaPrincipal{
    width: 100%;
    height: 750px;
}

@media (max-width: 991px){
    .main_plantas .imagen_plantaPrincipal{
        height: 350px;
    }
}

.main_plantas{
    width: 100%;
}

.main_plantas .section_plantas{
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 1280px){
    .main_plantas .contenedor_plantas{
        width: 100%;
        grid-template-rows: 1 / -1;
    }
    .aside_plantas{
        display: none;
    }
}



.subtitulo_plantas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 130px;
    width: 60%;
}

.descripcion_planta{
    margin-bottom: 100px;
    padding-bottom: 20px;
    border-bottom: #072a16 solid 2px;
}

.aside_plantas{
    height: 700px;
}

.contenedor_preguntas{
    height: 700px;
    overflow-y: auto;
}

.contenedor_preguntas h4{
    margin-top: 40px;
}

.imagen_planta{
    width: 200px;
}

@media (max-width: 991px){
    .imagen_planta{
        width: 100px;
        height: 100px;
    }
}

/*aqui va todo lo que tiene que ver con la pagina de Categorias*/

.imagen_planta_categoria{
    display: flex;
    justify-content: space-around;
}

.section_categoria .contenedor_categoria{
    margin-bottom: 80px;
    margin-top: 60px;
}

.section_categoria img{
    width: 200px;
}

/*aca va todo lo que tiene que ver con la pagina de preguntas frecuentes*/

.titulo_preguntas{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.contenedor_preguntas_frecuentes{
    height: 80vh;
    overflow-y: scroll;
    padding: 20px;
    border: #8ab446 solid 10px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.contenedor_preguntas_frecuentes article{
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: #d3e29d solid 2px;
    text-align: center;
    padding-bottom: 40px;
}

.contenedor_preguntas_frecuentes article p{
    font-size:larger ;
}

/*aca va todo lo que tiene que ver con la pagina de contacto*/

.mapa_contacto{
    width: 50%;
    margin-top: 50px;
}

.main_contacto{
    height: 100vh
}

.contenedor_contacto h1{
    text-align: center;
    width: 100%;
}

.contenedor_contacto{
    border: #acc864 solid 4px;
    height: 90%;
    margin-top: 50px;
}

.main_contacto .boton_enviar{
    background-color:#8ab446;
    color:#072a16;
}

.main_contacto .boton_enviar:hover{
    background-color: #acc864;
    color: #161616;
}

.main_contacto .datos_contacto{
    margin-top: 100px;
}

.main_contacto .contenedor_formulario{
    height: 50%;
    margin: auto 0;
}
