@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:ital,wght@1,300&display=swap');

*{
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
}

/*paleta de colores

#8ab446 bordes
#072a16
#2d6b22
#acc864
#d3e29d

*/

.contenedor_nav{
    display: flex;
    justify-content: right;
    width: 100%;
    .link_nav{
        color: #2d6b22;
        font-size: large;
        margin-left: 10px;
    }
}

.contenedor_nav .link_nav:hover{
    background-color: #acc864;
    border-radius: 15px;
    color: #072a16;
    padding-left: 15px;
}

@media (max-width: 991px){
        .link_nav{
            width: 50%
        }
    
}

.header_nav{
    margin: 0 auto;
    width: 95%;
    border-bottom: #8ab446 solid 3px;
}

.header_nav{
    .icono_hamburguesa{
        background-image: url(../assets/img/menu.png);
    }
}

.logo_nav{
    height: 30px;
    margin-left: 10px;
}



/*aqui va todo lo que tiene que ver con la pagina de plantas Medicinales*/

@media (max-width: 700px){
    *{
        font-size: x-small;
    }
}

.titulo_plantas{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main_plantas .imagen_plantaPrincipal{
    width: 100%;
    height: 750px;
}

@media (max-width: 991px){
    .main_plantas .imagen_plantaPrincipal{
        height: 350px;
    }
}

.main_plantas{
    width: 100%;
}

.main_plantas .section_plantas{
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 1280px){
    .main_plantas .contenedor_plantas{
        width: 100%;
        grid-template-rows: 1 / -1;
    }
}

@media (max-width: 1280px){
    .aside_plantas{
        display: none;
    }
}


.subtitulo_plantas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 130px;
    width: 60%;
}

.descripcion_planta{
    margin-bottom: 100px;
    padding-bottom: 20px;
    border-bottom: #072a16 solid 2px;
}

.aside_plantas{
    height: 700px;
}

.contenedor_preguntas{
    height: 700px;
    overflow-y: auto;
}

.contenedor_preguntas p{
    margin-bottom: 80px;
}

.aside_plantas .subtitulo_preguntas{
    margin-top: 100px;
}

.imagen_planta{
    width: 200px;
}

@media (max-width: 991px){
    .imagen_planta{
        width: 100px;
        height: 100px;
    }
}
