

.main_categorias{
    .titulo_categorias{
        @include titulos($center, $px-40, $px-20);
        color: map-get($colores , color-terciario );
    }
    .imagen_principal_categoria{
        height: 1280px;
        background-image: url(../assets/img/imagenCategoria.jpg);
        background-repeat: no-repeat;
    }
    .section_categoria{
        text-align: $center;
        .contenedor_categoria{
            margin-bottom: $px-80;
            margin-top: $px-60;
            .imagen_planta_categoria{
                display: flex;
                justify-content: space-evenly;
                .contenedor_imagen{
                    width: $por-30;
                    border-bottom: map-get($colores , color-primario ) solid $px-5;
                    padding-bottom: $px-10;
                }
            }
            .parrafo_categorias{
                font-size: map-get($fuentes, fontLarger);
                @include titulos($center, 0, $px-20)
            }
        }
    }
}

@media (max-width: 1280px){

    .main_categorias{
        .imagen_principal_categoria{
            background-image: url(../assets/img/imagenCategoria2.jpg);
            background-position: $center;
            height: 853px;
        }
    }
}

@media (max-width: 991px){
    .main_categorias .titulo_categorias{
        text-align: $justify;
    }
    .main_categorias .section_categoria .contenedor_categoria .parrafo_categorias{
            font-size: map-get($fuentes, fontSmall);
            text-align: $justify;
        }
 }

 @media (max-width: 768px){
    .main_categorias .section_categoria .contenedor_categoria .imagen_planta_categoria{
        .imagen_primaria{
            width: $por-70;
            height: $por-70;
        }
        .imagen_secundaria{
            display: none;
        }
    }
 }

 @media (max-width: 426px){
    .main_categorias{
        .imagen_principal_categoria{
            background-image: url(../assets/img/imagenCategoria3.jpg);
            background-position: $center;
            height: 283px;
        }
    }
}




