.main_404{
    height: 100%;
    .contenedor_titulo_404{
        height: $por-50;
        width: $por-100;
        text-align: $center;
        margin-top: $px-80;
        .boton_404{
            margin-top: $px-20;
                background-color: map-get($colores , color-primario );
                &:hover{
                    background-color:#2d6b22;
                    color: map-get($colores , color-primario );
                }
            }
        }
        .imagen_404{
            height: 40%;
            width: 40%;
            object-fit: cover;
        }
    }