
.main_plantas{
    .titulo_plantas{
        @include titulos($center, $px-40, $px-20);
        color: map-get($colores , color-terciario );
    }
    .imagen_plantaPrincipal{
        height: 1280px;
        background-image: url(../assets/img/principalPlantas.jpg);
        background-repeat: no-repeat;
    }
    .subtitulo_plantas{
        margin-left: $auto;
        margin-right: $auto;
        margin-top: $px-100;
        margin-bottom: $px-100;
        width: $por-70;
        text-align: $center;
        border-left: map-get($colores , color-quinario) solid $px-5;
        border-right:map-get($colores , color-quinario ) solid $px-5;
    }
    .section_plantas{
        margin: 0 $auto;
        .descripcion_planta{
            margin-bottom: $px-100;
            padding-bottom: $px-20;
            text-align: $justify;
            border-bottom: map-get($colores , color-secundario ) solid $px-3;
            .imagen_planta{
                width: 40%;
                margin: 0 $auto;
            }
        }
        .aside_plantas{
            text-align: $left;
            height: 700px;
            margin-left: $px-100;
            .contenedor_preguntas{
                height: 700px;
                h4{
                    margin-top: $px-40;
                }
            }
        }
    }
}

@media (max-width: 1280px){

    .main_plantas{
        .imagen_plantaPrincipal{
            background-image: url(../assets/img/principalPlantas2.jpg);
            background-position: $center;
            height: 853px;
        }   
        .contenedor_plantas{
            width: $por-100;
        }
        .aside_plantas{
            display: none;
        }
    }
}

@media (max-width: 991px){
    .main_plantas .titulo_plantas{
        text-align: $justify;
    }
}

@media (max-width: 767px){
    .main_plantas .section_plantas .descripcion_planta{
        flex-direction: column;
    }
}

@media (max-width: 426px){
    .main_plantas{
        .imagen_plantaPrincipal{
            background-image: url(../assets/img/principalPlantas3.jpg);
            background-position: $center;
            height: 283px;
        }
    }
}


