

.main_categorias{
    .titulo_categorias{
        @include titulos($center, $px-40, $px-20);
        color: map-get($colores , color-terciario );
    }
    .imagen_principal_categoria{
        width: $por-100;
        height: 1280px;
        background-image: url(../assets/img/imagenCategoria.jpg);
        background-repeat: no-repeat;
    }
    .section_categoria{
        text-align: $center;

        .contenedor_categoria{
            margin-bottom: $px-80;
            margin-top: 60px;
            width: $por-100;
            .imagen_planta_categoria{
                width: $por-100;
                display: flex;
                justify-content: space-evenly;
                .contenedor_imagen{
                    width: $por-30;
                    border-bottom: map-get($colores , color-primario ) solid $px-5;
                    padding-bottom: $px-10;
                    img{
                        width: $por-100;
                        height: $por-100;
                    }
                }
            }
            .parrafo_categorias{
                font-size: map-get($fuentes, fontLarger);
                width: $por-80;
                margin: 0 $auto;
                margin-bottom: $px-20;
                text-align: $center;
            }
        }
    }
}

@media (max-width: 1280px){

    .main_categorias{
        .imagen_principal_categoria{
            background-image: url(../assets/img/imagenCategoria2.jpg);
            background-position: center;
            width: $por-100;
            height: 853px;
        }
    }
}

@media (max-width: 991px){
    .main_categorias .titulo_categorias{
        text-align: $justify;
    }
    .main_categorias .section_categoria .contenedor_categoria .parrafo_categorias{
            font-size: map-get($fuentes, fontSmall);
            text-align: $justify;
        }
 }

 @media (max-width: 768px){
    .main_categorias .section_categoria .contenedor_categoria .imagen_planta_categoria{
        .imagen_primaria{
            width: 70%;
            height: 70%;
        }
        .imagen_secundaria{
            display: none;
        }
    }
 }

 @media (max-width: 426px){
    .main_categorias{
        .imagen_principal_categoria{
            background-image: url(../assets/img/imagenCategoria3.jpg);
            background-position: center;
            width: $por-100;
            height: 283px;
        }
    }
}




