/*aca van todas las variables*/

/*colores*/

$colores:(
color-primario:#8ab446,
color-secundario:#072a16,
color-terciario:#2d6b22,
color-cuaternario:#acc864,
color-quinario:#d3e29d
);


/*pixeles*/
$px-2: 2px;
$px-3: 3px;
$px-5: 5px;
$px-10: 10px;
$px-15: 15px;
$px-20: 20px;
$px-30: 30px;
$px-40: 40px;
$px-50: 50px;
$px-80: 80px;
$px-90: 90px;
$px-100: 100px;

/*porcentajes*/

$por-30: 30%;
$por-50: 50%;
$por-60: 60%;
$por-80: 80%;
$por-90: 90%;
$por-95: 95%;
$por-100: 100%;

/*alineacion*/

$center: center;
$right: right;
$left: left;
$auto: auto;


